.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: auto;
}

.title {
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 1.6em;
    color: #1d3050;
}
.title img {
    width: 120px;
}
.title p {
    margin: 0;
    font-size: 3em;
}

h3 {
    font-weight: bolder;
}
h2 {
    margin: 15px !important;
    font-size: 1.5em !important;
}

.check {
    font-size: 22px;
    margin: 10px;
}
.check input {
    width: auto;
}

.registration-link{
    font-size: 16px;
}
.registration-link a{
    color: rgb(85, 84, 84);
    text-decoration: underline;
}